.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px 40px 20px;
  gap: 24px;
}

.gradientText {
  background: linear-gradient(
    to right,
    #f97316,
    #7e22ce,
    #60a5fa,
    #7e22ce,
    #f97316,
    #7e22ce,
    #60a5fa
  );
  background-size: 900% 900%;
  background-clip: text;
  font-size: 60px;

  font-weight: bold;
  color: transparent;
  text-wrap: nowrap;
}

@media screen and (max-width: 940px) {
  .gradientText {
    text-wrap: wrap;
  }
}

@media screen and (max-width: 394px) {
  .gradientText {
    font-size: 36px;
  }
}
