.text {
  display: flex;
  justify-content: space-between;
  padding: 80px 40px 80px 40px;
  min-width: none;
  @media (max-width: 769px) {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px 40px 20px;
  }
}

.p {
  text-wrap: wrap;
  width: 40%;
  padding-left: 20px;
  @media (max-width: 769px) {
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
}

.name {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.tP {
  font-size: 16px;
  line-height: 24px;
}
